.mainone{
    display: flex;
    flex-direction: row-reverse;
    background-color: whitesmoke;
    padding: 50px;
    width: 1200px;
    margin: 0 auto;
    font-family: 'Architects Daughter', cursive;
        font-family: 'Caveat', cursive;
}

.backone {
    padding: 20px;
    margin: 10px;
    width: 550px;
    height: 45px;
    font-size: 25px;
    background-color: dimgray;
}

.aboutone{
    padding: 50px;
}

.name{
    font-size: 38px;
}

.description{
    font-size: 32px;
}
.descript{
    font-size: 25px;
}

.sidebarone{
    padding: 20px;
    background-color: dimgray;
    width: 300px;
    font-size: 20px;
}

.ready{
    padding-left: 80px;
    font-size: 30px;
}