a {
    color: navy;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.mainthree {
    display: flex;
    flex-direction: row-reverse;
    background-color: whitesmoke;
    padding: 50px;
    width: 1200px;
    margin: 0 auto;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Caveat', cursive;
}

.aboutthree {
    width: 800px;
    width: 100%;
    padding: 50px;
    display: flex;
}

.sidebarthree {
    padding: 20px;
    background-color: gray;
    width: 300px;
    font-size: 20px;
}