.main{
    display: flex;
    flex-direction: row-reverse;
    background-color: whitesmoke;
    padding: 50px;
    width: 1200px;
    margin: 0 auto;
    font-family: 'Architects Daughter', cursive;
        font-family: 'Caveat', cursive;

}

.ul{
    background-color: whitesmoke;
    padding: 20px;
    margin: auto;
    font-size: 45px;
}

.sidebar{
    padding: 20px;
    background-color: dimgray;
    width: 300px;
}

.sidebarabout{
    padding-left: 58px;
    font-size: 25px;
}

.about{
    font-size: 21px;
}
