a {
    color: navy;
}

.main{
    display: flex;
    flex-direction: row-reverse;
    background-color: whitesmoke;
    padding: 50px;
    width: 1200px;
    height: 500px;
    size: 100%;
    margin: auto;
    font-family: 'Architects Daughter', cursive;
        font-family: 'Caveat', cursive;
}

.ul{
    margin: auto;
}

.hm{
    font-size: 60px;
    margin-bottom: 0px;
}

.mul{
    font-size: 32px;
    margin-top: 0px;
}

.sidebar{
    padding: 20px;
    background-color: gray;
    width: 300px;
}

.sidebarabout{
    padding-left: 58px;
    font-size: 25px;
}

.about{
    font-size: 21px;
}

.game{
    text-decoration: none;
    color: firebrick;
}

.dor{
    font-size: 12px;
    text-align: right;
}

.contacts{
    margin-left: 30px;
    font-size: 25px;
}