a{
    color: navy;
}

.maintwo{
    display: flex;
    background-color: whitesmoke;
    padding: 50px;
    width: 1200px;
    margin: 0 auto;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Caveat', cursive;
}

.sidebartwo{
    padding: 20px;
    background-color: gray;
    width: 300px;    
    font-size: 25px;
}

.ultwo{
    font-size: 32px;
    padding-left: 80px;
}

.site{
    font-size: 25px;
    position: absolute;
    bottom: 20px;
}

.maincontent {
    padding: 50px;
    width: 800px;
    width: 100%;
    font-size: 25px;
}

.backk{
    display: flex;
}

.backtwo {
    padding: 20px;
    width: 16%;
    height: 45px;
    size: 100%;
    font-size: 25px;
    background-color: gray;
}

.twozero{
    padding: 10px;
    background-color: gray;
}

.imgtwozero{
    padding: 10px;
    background-color: whitesmoke;
}

.download{
    margin-left: 50px;
}

.warng{
    margin-top: 100px;
    padding: 10px;
    background-color: gray;
}

.warning{
    background-color: whitesmoke;
    padding: 10px;
    font-size: 20px;
}

.warn{
    font-size: 25px;
    margin: auto;
}

.div{
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    background-color: gray;
}